@page
@model PrivacyModel
@{
    ViewData["Title"] = "More Info";
}
<h1>@ViewData["Title"]</h1>

<p>See more videos like this on my youtube channel and comment. <a href="https://www.youtube.com/channel/UCx67Pa91aaySqf1XydO2FoQ" target="_blank"> HERE</a></p>

<p>Dont forget to SUBSCRIBE and hit the LIKE and BELL button to be always updated on the new coming movies</p>
<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCx67Pa91aaySqf1XydO2FoQ" data-layout="default" data-count="hidden"></div>


